In [ ]:
!apt-get update # Update apt-get repository.
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # Install Java.
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz # Download Apache Sparks.
!tar xf spark-3.1.1-bin-hadoop3.2.tgz # Unzip the tgz file.
!pip install -q findspark # Install findspark. Adds PySpark to the System path during runtime.

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

!ls

# Initialize findspark
import findspark
findspark.init()

# Create a PySpark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark

Hit:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:3 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
iot_devices.json  spark-3.1.1-bin-hadoop3.2	 spark-3.1.1-bin-hadoop3.2.tgz.1
sample_data	  spark-3.1.1-bin-hadoop3.2.tgz  spark-3.1.1-bin-hadoop3.2.tgz.2

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, desc

In [ ]:
# Create a Spark session
spark = SparkSession.builder.appName("IoT Data Analysis").getOrCreate()

In [ ]:
# Load the JSON data into a DataFrame
iot_df = spark.read.json("/content/iot_devices.json")

In [ ]:
# Create a temporary view called 'iot'
iot_df.createOrReplaceTempView("iot")

In [ ]:
# Task 1: Count how many devices are there from each country and display the output
devices_per_country = spark.sql("""
    SELECT Cn AS Country, COUNT(Device_ID) AS Device_Count
    FROM iot
    GROUP BY Cn
    ORDER BY Device_Count DESC
""")
devices_per_country.show()

+-----------------+------------+
|          Country|Device_Count|
+-----------------+------------+
|    United States|        4559|
|            China|         964|
|            Japan|         806|
|Republic of Korea|         782|
|          Germany|         561|
|   United Kingdom|         480|
|           Canada|         429|
|           Russia|         408|
|           France|         378|
|           Brazil|         249|
|            Italy|         210|
|        Australia|         208|
|           Sweden|         197|
|      Netherlands|         159|
|           Poland|         154|
|            Spain|         149|
|           Taiwan|         145|
|            India|         139|
|          Austria|         139|
|                 |         128|
+-----------------+------------+
only showing top 20 rows

In [ ]:
# Check the schema of the DataFrame
iot_df.printSchema()

root
 |-- _corrupt_record: string (nullable = true)
 |-- battery_level: long (nullable = true)
 |-- c02_level: long (nullable = true)
 |-- cca2: string (nullable = true)
 |-- cca3: string (nullable = true)
 |-- cn: string (nullable = true)
 |-- device_id: long (nullable = true)
 |-- device_name: string (nullable = true)
 |-- humidity: long (nullable = true)
 |-- ip: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- lcd: string (nullable = true)
 |-- longitude: double (nullable = true)
 |-- scale: string (nullable = true)
 |-- temp: long (nullable = true)
 |-- timestamp: long (nullable = true)

In [ ]:
# Task 2: Display all the countries whose carbon dioxide level is more than 1400. Sort the output in descending order.
high_co2_countries = spark.sql("""
    SELECT Country
    FROM (
        SELECT DISTINCT cn AS Country, c02_level
        FROM iot
        WHERE c02_level > 1400
        ORDER BY c02_level DESC
    )
""")
high_co2_countries.show()

+-----------------+
|          Country|
+-----------------+
|   Czech Republic|
|           Sweden|
|    United States|
|        Australia|
|            Japan|
|           France|
|Republic of Korea|
|           Canada|
|      Philippines|
|          Germany|
|    United States|
|            Japan|
|           Brazil|
|            China|
|          Romania|
|Republic of Korea|
|    United States|
|           Taiwan|
|           Canada|
|      Philippines|
+-----------------+
only showing top 20 rows

In [ ]:
# Task 3: Select all countries' devices with high levels of CO2 and group by cca3 and order by device_ids
# (For high CO2 level, the LCD status will be RED)
high_co2_devices = spark.sql("""
    SELECT cca3, COUNT(device_id) AS Device_Count
    FROM iot
    WHERE lcd = 'red'
    GROUP BY cca3
    ORDER BY Device_Count DESC
""")
high_co2_devices.show()

+----+------------+
|cca3|Device_Count|
+----+------------+
| USA|        1212|
| CHN|         247|
| JPN|         224|
| KOR|         206|
| DEU|         157|
| CAN|         118|
| RUS|         109|
| FRA|         105|
| GBR|         105|
| BRA|          73|
| AUS|          61|
| ITA|          44|
| SWE|          44|
| NLD|          41|
| ESP|          40|
| POL|          35|
| IND|          34|
| TWN|          33|
| AUT|          33|
| SGP|          30|
+----+------------+
only showing top 20 rows

In [ ]:
# Task 4: Find out all devices in countries whose batteries need replacements
# Assuming "batteries need replacements" means Battery Level is less than a certain threshold, e.g., 20%
low_battery_devices = spark.sql("""
    SELECT *
    FROM iot
    WHERE Battery_Level < 20
""")
low_battery_devices.show()

+---------------+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|_corrupt_record|battery_level|c02_level|cca2|cca3|           cn|device_id|         device_name|humidity|             ip|latitude|   lcd|longitude|  scale|temp|    timestamp|
+---------------+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
|           null|            8|      868|  US| USA|United States|        1|meter-gauge-1xbYRYcj|      51|   68.161.225.1|    38.0| green|    -97.0|Celsius|  34|1458444054093|
|           null|            7|     1473|  NO| NOR|       Norway|        2|   sensor-pad-2n2Pea|      70|  213.161.254.1|   62.47|   red|     6.15|Celsius|  11|1458444054119|
|           null|            2|     1556|  IT| ITA|        Italy|        3| device-mac-36TWSKiT|      44|      88.36.5.1|   42.83|   red|    12.83|Celsius|  19|1458444054120|
|           null|            6|     1080|  US| USA|United States|        4|   sensor-pad-4mzWkz|      32|  66.39.173.154|   44.06|yellow|  -121.32|Celsius|  28|1458444054121|
|           null|            4|      931|  PH| PHL|  Philippines|        5|therm-stick-5gimp...|      62|    203.82.41.9|   14.58| green|   120.97|Celsius|  25|1458444054122|
|           null|            3|     1210|  US| USA|United States|        6|sensor-pad-6al7RT...|      51| 204.116.105.67|   35.93|yellow|   -85.46|Celsius|  27|1458444054122|
|           null|            3|     1129|  CN| CHN|        China|        7|meter-gauge-7GeDoanM|      26|  220.173.179.1|   22.82|yellow|   108.32|Celsius|  18|1458444054123|
|           null|            0|     1536|  JP| JPN|        Japan|        8|sensor-pad-8xUD6p...|      35|  210.173.177.1|   35.69|   red|   139.69|Celsius|  27|1458444054123|
|           null|            3|      807|  JP| JPN|        Japan|        9| device-mac-9GcjZ2pw|      85|  118.23.68.227|   35.69| green|   139.69|Celsius|  13|1458444054124|
|           null|            7|     1470|  US| USA|United States|       10|sensor-pad-10Bsyw...|      56|208.109.163.218|   33.61|   red|  -111.89|Celsius|  26|1458444054125|
|           null|            3|     1544|  IT| ITA|        Italy|       11|meter-gauge-11dlM...|      85|  88.213.191.34|   42.83|   red|    12.83|Celsius|  16|1458444054125|
|           null|            0|     1260|  US| USA|United States|       12|sensor-pad-12Y2kIm0o|      92|    68.28.91.22|    38.0|yellow|    -97.0|Celsius|  12|1458444054126|
|           null|            6|     1007|  IN| IND|        India|       13|meter-gauge-13Gro...|      92| 59.144.114.250|    28.6|yellow|     77.2|Celsius|  13|1458444054127|
|           null|            1|     1346|  NO| NOR|       Norway|       14|sensor-pad-14QL93...|      90| 193.156.90.200|   59.95|yellow|    10.75|Celsius|  16|1458444054127|
|           null|            9|     1259|  US| USA|United States|       15|  device-mac-15se6mZ|      70|    67.185.72.1|   47.41|yellow|   -122.0|Celsius|  13|1458444054128|
|           null|            4|     1425|  US| USA|United States|       16|sensor-pad-16aXmI...|      53|   68.85.85.106|    38.0|   red|    -97.0|Celsius|  15|1458444054128|
|           null|            0|     1466|  US| USA|United States|       17|meter-gauge-17zb8...|      98|161.188.212.254|   39.95|   red|   -75.16|Celsius|  31|1458444054129|
|           null|            4|     1096|  CN| CHN|        China|       18|sensor-pad-18XULN9Xv|      25|  221.3.128.242|   25.04|yellow|   102.72|Celsius|  31|1458444054130|
|           null|            9|     1531|  US| USA|United States|       19|meter-gauge-19eg1...|      75| 64.124.180.215|    38.0|   red|    -97.0|Celsius|  29|1458444054130|
|           null|            7|     1155|  US| USA|United States|       20|sensor-pad-20gFNf...|      33|  66.153.162.66|   33.94|yellow|   -78.92|Celsius|  10|1458444054131|
+---------------+-------------+---------+----+----+-------------+---------+--------------------+--------+---------------+--------+------+---------+-------+----+-------------+
only showing top 20 rows